.dropdown-menu{
    position: absolute;
    top: 100%;
    width: 250px;
    height: auto;
    background: #fff;
    z-index: 100;
    margin-top: 21px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    padding: 15px;
    margin-left:-70px;
    border-radius: 5px;
 
}